@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  
  --font-sans: var(--font-poppins);
}

:root {
  /* Dark Mode Default */
  --background: #0F1624;
  --background2: #F8FAFC;
  --foreground: #ffffff;
  --primary: #FCA311;
  --surface: #1E2532;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-sans); */
  padding: 30px !important;

}
